.question {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.question label {
    width: 10rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: auto 1rem;
    font-size: 1.1rem;
}

.ready-reckoner {
    margin: 1rem auto;
}