<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149277002-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-149277002-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landscape garden design services covering Norfolk, Suffolk and Cambridgeshire.">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Peter the Plantsman</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lancelot&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet href="styles.css">
    <link rel=stylesheet href="services.css">
    <link rel=stylesheet href="readyreck.css">


</head>

<body>
<header>
    <div class="container">
        <div class="blognav">
            <a href="index.html"><img id="bloglogo" src="images/logo.png"></a>
            <div class="blogtitle">
                <div>Ready Reckoner</div>
                <a id="backlink" href="index.html"><i class="fa fa-fw fa-pagelines"></i>Back</a>
            </div>
        </div>
    </div>
</header>
<div class="topborder"></div>

<div class="container">
    <h1>Welcome to the Ready Reckoner</h1>
    <p>Using this tool, we can estimate your total garden space, and make an estimate of what work we might need to do.</p>
</div>

<div class="container ready-reckoner">
    <div id="reckoner">
        <h1>{{ survey.title }}</h1>
        <!-- index is used to check with current question index -->
        <div v-for="(question, index) in survey.questions">
            <div v-show="index === questionIndex">
                <h2>{{ question.text }}</h2>
                <div v-for="answer in question.answers">
                    <div class="container question"
                         v-bind:class="{ danger : isDanger }">
                    <label>{{ answer.label }}</label>
                        <div>
                            <input type="number"
                               v-model="userResponses[answer.key]">
                        </div>
                    </div>
                </div>

                <div class="container button-container">
                <button v-if="questionIndex > 0" v-on:click="prev">
                    prev
                </button>
                <button v-on:click="next">
                    next
                </button>
                    <button v-if="questionIndex == 1" v-on:click="skip">
                        skip
                    </button>
                </div>
            </div>
        </div>
        <div v-show="questionIndex === survey.questions.length">
            <h2>
                Survey finished
            </h2>
            <p>
            <p id="result"></p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <canvas id="canvas" width="400" height="300" style="border:1px solid #d3d3d3;">
        This text is displayed if your browser does not support HTML5 Canvas.
    </canvas>
</div>

<footer>
    <div class="footer container">
        <div>
            <h3>Contact</h3>
            <ul>
                <li>Tel: 07833 162185</li>
                <li><a href="mailto:petertheplantsman@outlook.com">petertheplantsman@outlook.com</a></li>
            </ul>
        </div>
        <div>
            <h3>Website</h3>
            <ul>
                <li><a href="sitemap.xml">Sitemap</a></li>
                <li>© Copyright PtP 2019</li>
                <li>All rights reserved</li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <div class="social-icons">
                <img src="images/facebook-logo.png">
                <img src="images/twitter-logo.png">
                <img src="images/linkedin-logo.png">
            </div>
        </div>
    </div>
</footer>
<script src="readyreck.js"></script>
</body>
</html>