
.blogtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blogtitle div {
    border-bottom: 5px solid black; 
    font-size: 4rem;
}

#backlink {
    font-size: 4rem;
    color: white;
    text-decoration: none;
}

header {
    border-bottom: #5b7029 0.5rem solid;
}

/************ BLOG SECTION **************/

.blogheader {
    font-size: 2rem;
}

#content1,
#content2,
#content3,
#content4,
#content5 {
    display: none;
    width:100%;
    margin-top: 0;
    background-color: lightgrey;
}

#content3 {
    /* height: 15rem!important; */
}

#content4 {
    /* height: 35rem!important; */
} 

#content5 {
    /* height: 20rem!important; */
}

#content1 p,
#content2 p,
#content3 p,
#content4 p,
#content5 p {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 1rem;
    color: black;
}

/******************************************
***********MEDIA QUERIES*******************
******************************************/


@media (min-width: 370px) {
    .blognav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #bloglogo {
        width: 100vw;
    }
    .blogheader p {
        font-size: 1rem;
    }
    .blog-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.feature-post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.feature-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.feature-plant {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner-post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.blog-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 3rem auto;
}

.blog-grid div {
    background-color: lightgrey;
    margin-bottom: 1rem;
}

.blog-grid div h2 {
    text-align: center;
    text-decoration: underline;
}

.blog-grid div p {
    font-size: 1.7rem;
    font-weight: bold;
    color: antiquewhite;
    width: 90%;
    text-align: center;
}
}

@media screen and (min-width: 576px) {
    
    #bloglogo {
        width: 50vw;
    }
    .blognav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #backlink, .blogtitle div {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    
    
    #bloglogo {
        width: 33vw;
    }
    .blog-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    
    .feature-post {
        width: 60%;
    }
    
    .feature-video {
        width: 60%;
    }
    
    .feature-plant {
        width: 30%;
    }
    
    .banner-post {
        width: 95%;
    }

    #blog1,
    #blog2,
    #blog3,
    #blog4,
    #blog5 {
        height:20rem;
    }
    
    .blog-grid div p {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
   
  
}

@media (min-width: 1200px) {}