/* UNIVERSAL STYLES */
/* COLOUR SCHEME:
Green= #7C9939
*/

* {
    font-family: 'arial', sans-serif;
}

body {
    margin: 0;
}

/* PAGE STYLES */
.container {
    width: 80vw;
    margin: auto;
}

/* HEADER */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.3rem 0;
}

#logo {
    width: 30vw;
}

#navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#navigation a {
    margin: auto 1rem;
    font-family: 'Lancelot', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: lowercase;
}

#navigation a:hover {
    color: white;
    cursor: pointer;
}

/* FOOTER */
header, footer {
    background-color: #7C9939;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5rem;
    padding: 1rem 0;
}

.footer div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* SLIDER */

.banner div img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 6rem;
    color: white;
    width: 40vw;
    margin: auto 10vw;
}

.banner-text {
    font-size: 1.3rem;
}

.banner-text p {
    font-size: 1.5rem;
}

.slick-arrow {
    display: none!important;
}

.overlay {
    /* position:absolute; */
    /* top:0;
    left:0;
    right:0;
    bottom:0; */
    background-color:rgba(0, 0, 0, 0.85);
    z-index:2;
}


/* CONTENT */

.block-title {
    text-align: center;
    margin: 3rem auto;
    font-family: 'Lancelot', cursive;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
}

.content div {
    width: 45%;
}

.content div img {
    width: 100%;
}

.benefits {
    margin-block-start: 0;
    margin-block-end: 0;
}

.benefits li {
    margin: 1rem auto;
}