/* UNIVERSAL STYLES */
/* COLOUR SCHEME:
Green= #7C9939
*/

* {
    font-family: 'Crimson Text', sans-serif;
}
body {
    margin: 0;
}

/* PAGE STYLES */
.container {
    width: 80vw;
    margin: auto;
}

#wrapper {
    display: none;
}

/* HEADER */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.3rem 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 30vw;
}

#navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:50%;
}

#navigation a {
    display: flex;
    align-items:center;
    font-weight: bold;
    text-transform: lowercase;    
    height: 100%;
    width: 30%;
    justify-content: center;
    text-align: center;
}

#navigation a i {
    padding-right:0.5rem;
}

#navigation a:hover {
    color: white;
    cursor: pointer;
}

/*****************************************
        Dropdown menu
***************************************/

#navigation #dropdown {
    position: relative;
    display:flex;
    align-items:center;
    font-weight: bold;
    text-transform: lowercase;    
    height: 100%;
    width: 30%;
    cursor: pointer;
}

#dropdown-content {
  flex-wrap: none!important;
  flex-direction: column;
  font-size: 1.3rem!important;
  display: none;
  height: initial!important;
  position: absolute;
  background-color: #7C9939;
  width: 100%!important;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  top: 110px;
  z-index: 1;
  border-radius: 5px;
}

.fa-pagelines {
    padding-right: 0.5rem!important;
}

#dropdown-content a {
    font-size: 1.3rem!important;
    margin: 0;
    border-top: 1px white solid;
    padding: 1rem 0;
    width: 100%!important;
}

#dropdown:hover #dropdown-content {
    display: flex;
}





/* BANNER */

.banner {
    background: url("images/landscape.jpg") no-repeat 100% center;
    /* width: 100vw; */
    min-height: 30rem;
    position: relative;
}

.overlay {
    background: linear-gradient(45deg, black 10%, transparent 70%);
    z-index:2000;
    min-height: 30rem;
}

.banner-text {
    padding: 10rem 1rem;
    color: white;

}

.banner-text h1 {
    margin-top: 0;
}


/* CONTENT */

.block-title {
    text-align: center;
    margin: 3rem auto;
    width: 40%;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
}

.content div {
    width: 45%;
}

.content div img {
    width: 100%;
}

.benefits {
    margin-block-start: 0;
    margin-block-end: 0;
}

.benefits li {
    margin: 1rem auto;
}

.punchlogo img {
    width: 3rem;
    margin: auto;
}

.punchlogo {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

/*****************************
********** FORM *************
*****************************/

.hpot {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.form input,
.form textarea {
    padding: 1rem;
    margin: 0.2rem 0;
    border-radius: 0.3rem;
    font-weight: bold;
}

/* FOOTER */
header, footer {
    background-color: #7C9939;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5rem;
    padding: 1rem 0;
}

.footer div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*****************************
********** Media Queries ******
*****************************/

@media screen and (max-width: 370px) {
    #navigation {
        display: none;
    }
}

@media screen and (min-width: 370px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) {
    
    .banner-text h1 {
        font-size: 3.5rem;
    }
    #navigation a,
    #navigation div {
        font-size: 1.5rem;
    }
}


@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
    #navigation a,
    #navigation div {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {}